/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml
/auth.json
